*{
    margin: 0;
    padding: 0;
    text-align: center;
}

.choice:hover{
    opacity: 70%;
    cursor: pointer;
    transform: scale(0.95); 
}

h1{
    background-color: #081b31 ;
    height: 5rem;
    color: white;
    line-height: 5rem;
}

.choice{
    height: 200px;
    width: 200px;
    border-radius:50% ;
    padding: 10px;
    transition: background-color 0.3s, padding 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 160px; 
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rems;
    margin-top: 5rem;
}


.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;

}

#user, #computer{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
   
    background-color: #081b31;
    color: white;
    height: 5rem;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    
}
#reset{
    background-color: rgb(153, 219, 221);
    height: 3rem ;
    width: 8rem;
    display: inline;
    margin-top: 3rem;
    border-radius: 10%;
    font-size: 1rem;
    font-weight: 600;
    border: none;


}

#reset:hover {
    background-color: rgb(86, 139, 141); /* Change background color on hover */
    transition: background-color 0.3s, padding 0.3s;
    transform: scale(0.95);
    cursor: pointer;
}